@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* style.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
Default styling for larger screens .questions1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.questions {
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;
  padding-right: 32px;
  margin-left: 32px;
}

/* Media query for screens below 1000px */
@media (max-width: 1400px) {
  .questions1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .questions {
    margin-top: 16px;
  }
}
.contacts {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.contacts.active {
  opacity: 1;
  transform: translateX(0);
}
.me {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1.5s ease;
}

.me.active {
  opacity: 1;
  transform: translateY(0);
}

.about-me {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.about-me.active {
  opacity: 1;
  transform: translateX(0);
}

/* sliding affect */
.social-link {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
}

.delay-10 {
  animation-delay: 10s;
}

.delay-20 {
  animation-delay: 12s;
}

.delay-30 {
  animation-delay: 14s;
}

.delay-40 {
  animation-delay: 16s;
}

.delay-50 {
  animation-delay: 18s;
}

.delay-60 {
  animation-delay: 20s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Header styles */
.hamburger-menu {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px auto;
  transition: 0.4s;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.mobile-menu.open {
  transform: translateX(0);
}

.hamburger-menu.open {
  transform: rotate(-45deg);
}

.hamburger-menu.open::before,
.hamburger-menu.open::after {
  top: 0;
  transform: rotate(90deg);
}

.hamburger-menu::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  top: -8px;
  transition: 0.4s;
}

.hamburger-menu::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  position: absolute;
  top: 8px;
  transition: 0.4s;
}
